mixin themeOptions
  h4.no-margin-bottom Theme
  a#theme__light.theme__button(href="/display/theme/set/light") Light Mode
  a#theme__dark.theme__button(href="/display/theme/set/dark") Dark Mode
  a#theme__code.theme__button(href="/display/theme/set/code") Code Mode

mixin fontOptions
  h4.no-margin-bottom Font
  a#font__sans.font__button(href="/display/font/set/sans") Sans Serif
  a#font__serif.font__button(href="/display/font/set/serif") Serif
  a#font__mono.font__button(href="/display/font/set/mono") Monospace
