extends layout.pug

block variables
  - title = "About the Author"
  - metaDescription = `Learn about ${config.author.name}, author of ${config.title}, a serial composed of microfiction.`

block content
  article
    h1 About #{config.author.name}
    != md.render(config.author.about)
    p: a(href="/") Back to the Story
