extends layout.pug

block variables
  - title = "Admin Dashboard"

block append head
  style.
    details {
      max-width: 700px;
    }
    .flash__content {
      padding: 0 1em;
    }

block content
  h1 Admin Dasbhoard
  details
    summary Unpublished Flashes (#{flashes.length})
    each flash in flashes
      article.flash(id=flash._id.toString())
        p
          em Release date:
          |  #{flash.date}
        .flash__content
          != md.render(flash.content)
        p
          a.error(href="javascript:deleteFlash('" + flash._id.toString() + "')") Delete
          |
          |
          a.warning(href="javascript:editFlash('" + flash._id.toString() + "')") Edit
  h2 Add flash
  form(method="POST" action="./flash/")
    label(for="flashContent") Full text:
    textarea(name="content" id="flashContent" placeholder="Add markdown, HTML, or a mix..." oninput="wordCount()")
    p
      span#words 0
      |  words
    input(type="submit" value="Add")
  script.
    function wordCount() {
      document.getElementById("words").innerText = document.getElementById("flashContent").value.split(/  \n| |\n\n/).length;
    }
